table{
    align-self: center;
    margin-block-end: 3%;
    font-size: 30px;
    margin-left:2%;
}
#selectores{
    margin: auto;
}

td:hover{
    color: aqua;
    background-color: blue;
}
#myChart{
    width: 60%;
    height: 54%;
    margin: auto;
    background:rgb(216, 211, 211);

}
caption{
    background-color: aquamarine;
}
legend{
    color: rgba(0, 0, 255, 0.253);
    font-size: 30px;
}
body{
    background-color: rgba(20, 3, 59, 0.363);
}
